@media screen and (min-width: 60em) {
    .md-search__form {
        border-radius: 0.4rem;
    }

    [data-md-toggle=search]:checked~.md-header .md-search__form {
	border-radius: 0.4rem 0.4rem 0 0;
    }

    .md-search__output {
	border-radius: 0 0 0.4rem 0.4rem !important;
    }
}

.md-typeset kbd {
  box-shadow: 0 .1rem 0 .05rem var(--md-typeset-kbd-border-color);
}

.docs-image {
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 25%);
  border-radius: 15px;
  margin: 25px 0px;
}

.center-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sized-image {
  width: var(--image-width);
}

@media screen and (max-width: 50em) {
  .sized-image {
    width: calc(var(--image-width) * 1.5);	  
  }
}

:root > [data-md-color-scheme=slate] {
  --md-code-hl-color:                  hsla(#{hex2hsl($clr-yellow-a200)}, 0.5);
  --md-code-hl-number-color:           #AEFFE0;
  --md-code-hl-special-color:          #42FFC2;
  --md-code-hl-function-color:         #57B2FF;
  --md-code-hl-constant-color:         #AEFFE0;
  --md-code-hl-keyword-color:          #ABC8FF;
  --md-code-hl-string-color:           #FFECA0;
  --md-code-hl-name-color:             #42FFC2;
  --md-code-hl-operator-color:         #ABC8FF;
  --md-code-hl-punctuation-color:      #ABC8FF;
  --md-code-hl-comment-color:          #767982;
  --md-code-hl-generic-color:          #CCCED3;
  --md-code-hl-variable-color:         #CCCED3;
}
